.todo .edit{
    display: none;
    }
.todo.edit .edit {

    color: #444441;
    display: inline-block;
    position: relative;
    margin-top: 5px;
    left: 5%;
    outline: none;
    border: none;
    border-bottom: 2px solid rgba(21, 19, 19, 0.32);
}

.item.edit  {
    display: none;
}
.todo.edit .item {
    display: none;
}
.todo.completed .item {
    text-decoration: line-through;
}
.list-item{
    position: relative;
}
.item {
    position: absolute;
    margin-top: 8px;
    left: 10%;
}
.span-checkbox {
    margin: 0;
    border-style: solid; border-width: 0 1px 0 0 ; color: #ffffff;
    display: inline-block;
    width: 30px;
    height: 30px;
}

li {
    position: relative;
    height: 30px;
    color: #423e3e;
    list-style: none;
    margin: 1px;
    border-radius: 5px;

}


.button-delete {
    position: absolute;
    background-color: #dbfaff;
    display: inline-block;
    margin-top: 5px;
    color: #686865;
    right: 10px;
    width: 70px;
    height: 20px;
    border-radius: 5px;
    border-style: none;
    opacity: 0.5;
}
.button-delete:hover {
    opacity: 1;
    transform: scale(1.1);
    cursor: pointer;
}

.checkbox {
    margin-right: 0;
    margin-left: 9px;
    margin-top: 9px;
}
.radio {
    position: absolute;
    display: inline-block;
    margin-top: 3%;
    margin-left: 60%;
    /*bottom: -35px;*/
}
.pink {
    background: #f7b0ff;
}
.orange {
    background: #ff7a62 ;
}
.green {
    background: #58996e ;
}

.bright-turquoise {
    background: #00ffc8 ;
}

.light-purple {
    background:  #b4c2ff;
}

.light-green {
    background:#99ffab;
}

input[type="radio"] {
    display:none;
}

input[type="radio"] + .label-radio {
    opacity: 0.8;
    font-family:Arial, sans-serif;
}

input[type="radio"] + .label-radio{
    display:inline-block;
    width:19px;
    height:19px;
    vertical-align:middle;
    background:-38px top no-repeat;
    cursor:pointer;
    border-radius: 20%;
}

input[type="radio"]:checked + .label-radio {
    transform: scale(1.2);
    opacity: 1;
}
label {
    margin-left: 3px;
}