input[type="radio"] {
    display:none;
}

input[type="radio"] + .label-radio {
    opacity: 0.5;
    font-family:Arial, sans-serif;
}

input[type="radio"] + .label-radio{
    display:inline-block;
    width:19px;
    height:19px;
    vertical-align:middle;
    background:-38px top no-repeat;
    cursor:pointer;

}

input[type="radio"]:checked + .label-radio {
    transform: scale(1.2);
    opacity: 1;
}
label {
    margin-left: 3px;
}